.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:#f2f2f2;
  display: flex;
  position: relative;
  object-fit: cover;
  margin: 0;
}
.logo {
  width: 228px;
  height: 32px;
}
.header__logo {
  position: absolute;
  top: 30px;
  left: 60px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-size: contain;
  background-color:  #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}
.header__title {
  width: 730px;
  margin: auto 0 auto 64px;
  flex-direction: column;
  z-index: 3;
}
.subtitle {}
.header__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 3;
  margin: 0;
}
.header__link {
  color: #2f80ed;
  z-index: 3;
}
.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.main-illustration { 
}
.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.content {
  display: flex;
  flex-direction: column;
}
.description {
display: flex;
justify-content: center;
}
.brief {
  width: 175px;
  display: flex;
}
.brief__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
}
.brief__text_color {
  color:#2f80ed;
}
.two-columns {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
}
.two-columns__paragraph_margin {
  margin-top: 0;
  margin-bottom: 30px;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  flex-direction: column;
}
.span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
.digits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px; 
}
.digits__section-title {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px auto;
  text-align: center;
}
.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  z-index: 2;
}
.digits__section-subtitle {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
}
.section-subtitle{
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  z-index: 2;
}
.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0;
  z-index: 2;
}
.table_cell {}
.digits__table_cell {
  width: 250px;
  margin-top: 60px;
}
.table_heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}
.table_text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 20px 0 0 0;
}
.digits__table_text_margin {}
.feynman {
  min-height: 890px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f2f2f2;
}
.feynman__title {
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 648px;
  margin: 100px auto 0 auto;
  z-index: 2;
}
.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 70px auto 0 auto;
  z-index: 2;
}
.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.feynman__link {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  z-index: 3;
}
.kaufman {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-color:  #1f1f1f;
  color: red;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}
.kaufman__title{
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
}
.kaufman__subtitle{
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 20px auto 0 auto;
}
.kaufman__table_cell {
  max-width: 200px;
  margin-top: 80px;
}
.table_text_theme_dark {
  color:#fff;
} 
.table_heading_theme_dark {
  color:#fff;
}
.section-title_theme_dark {
  color:#fff;
}
.section-subtitle_theme_dark {
  color:#fff;
}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(./images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -210px;
  top:0;
  z-index: 1;
}
.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  color: #fff;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px auto;
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.footer__column_content_social {
}
.footer_logo {
  align-content:flex-start;
}
.footer__author {
  align-content: flex-end;
  bottom: 0;
  left: 0;
  margin: 18px 0 18px 0;
}
.footer__author_text {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}
.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_column-link {}
.footer__column {
  margin: 0;
  padding: 0;
}
.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}
.social-icon {
  justify-content: center;
}
.icon {
  display: flex;
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
.footer__link{
  display: flex;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  background-image: url();
  align-items: baseline;
  color:#fff;
}